<!-- Card -->
<div class="card z-depth-2">
  <!-- Card image -->
  <div class="view overlay zoom">
    <img [src]="imagePath" image-Height="200px" image-Width="200px" />
    <a>
      <div
        class="mask waves-effect waves-light rgba-white-slight"
        mdbWavesEffect
      ></div>
    </a>
  </div>
  <!-- Card image -->

  <!-- Card content -->
  <div class="card-body">
    <!-- Card title -->
    <h4 class="card-title">{{ item.name }}</h4>

    <!-- Side information about Item-->
    <div class="card-text">
      <!-- Item info - Poppover -->
      <hr />
      <!-- Main item info -->
      <div class="card-text">
        <p class="font-weight-bold">
          Highest bid: <span>{{ item.bidPrice }}</span
          >$
        </p>

        <p class="text-default">
          Time remaining: <br /><span
            class="font-weight-bold text-default"
            id="{{ 'clock-' + item.id }}"
          ></span>
        </p>
      </div>

      <form (submit)="onLogin()">
        <!-- Input - Bid -->
        <div class="md-form">
          <input
            mdbInput
            type="number"
            step="0.01"
            id="form1"
            class="form-control"
            name="bidPrice"
            [(ngModel)]="bidPrice"
          />
          <label for="form1" class="">Input your bid</label>
        </div>
        <!-- Input -->

        <!-- Button - Bid -->
        <button
          mdbBtn
          (click)="onBid($event)"
          class="tempting-azure-gradient"
          type="button"
          mdbWavesEffect
        >
          BID<mdb-icon fas icon="dollar-sign" class="ml-1"></mdb-icon>
        </button>
      </form>
      <!-- Button -->
      <div>
        <ng-template #popContent
          ><!-- Text -->
          <div class="card-text">{{ item.description }}</div>
          <div class="card-text">
            {{ item.creationTime }}
          </div>
          <div class="card-text">
            Number of bids: <span>{{ item.numberOfBids }}</span>
          </div>
          <div class="text-yellow card-text">
            Highest bidder: <span>{{ item.highestBidder }}</span>
          </div>
        </ng-template>
        <ng-template #popTitle
          ><div class="font-weight-bold">INFO</div></ng-template
        >
        <a
          class="btn btn-outline-secondary"
          [ngbPopover]="popContent"
          [popoverTitle]="popTitle"
        >
          <mdb-icon fas icon="info-circle" class="ml-1"></mdb-icon>
        </a>
      </div>
    </div>
  </div>

  <!-- Card content -->
</div>
<!-- Card -->
