<!-- Card -->

<div class="card">
  <!-- Card image -->
  <div class="view overlay">
    <img
      class="card-img-top"
      src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
      alt="Card image cap"
    />
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body">
    <!-- Title -->
    <h4 class="card-title">{{ item.name }}</h4>
    <!-- Text -->
    <p class="card-text">{{ item.description }}</p>
    <p>
      {{ item.creationTime }}
    </p>
    <div class="md-form">
      <input type="text" id="inputMDEx" class="form-control" />
      <label for="inputMDEx">Medium input</label>
    </div>
    <!-- Button -->
    <a href="#" class="btn tempting-azure-gradient mdbWavesEffect">Bid</a>
    <div class="md-form">
      <input type="text" id="form1" class="form-control" />
      <label for="form1">Example label</label>
    </div>
  </div>
</div>
<!-- Card -->
