<!--Main Navigation-->
<header>
  <nav
    class="navbar navbar-expand-lg navbar-dark teal darken-2 scrolling-navbar"
  >
    <a class="navbar-brand" href="#"><strong>Navbar</strong></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/']"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/register']">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/myitems']">My Items</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/test']">Test</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/additem']">Create Item</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/highestbidder']"
            >Highest bidder</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
      <span *ngIf="isLoggedIn && username" class="text-white mr-4"
        >Hi, {{ username }}</span
      >
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="fab fa-instagram"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<!--Main Navigation-->
