<div class="pb-5">
  <section class="jumbotron text-center blue lighten-5">
    <div class="container">
      <h1 class="jumbotron-heading">Welcome to Auction House</h1>
      <p class="lead text-muted">
        Make your first bid and start your auction adventure
      </p>
      <div class="pt-2">
        <button
          type="button"
          class="btn green accent-3 waves-effect mr-2 white-text"
        >
          Create New Account
        </button>
        <button type="button" class="btn cyan accent-3 waves-effect white-text">
          Log In
        </button>
      </div>
    </div>
  </section>
</div>
