<div class="container w-50 pt-5">
  <!-- Default form register -->
  <form class="text-center border border-light p-5" action="#!">
    <p class="h4 mb-4">Sign up</p>

    <input
      type="text"
      class="form-control mb-4"
      id="username"
      placeholder="Username"
      [(ngModel)]="model.username"
      name="username"
      minlength="4"
      required
    />

    <!-- E-mail -->
    <input
      type="email"
      class="form-control mb-4"
      id="email"
      placeholder="E-mail"
      [(ngModel)]="model.email"
      name="email"
      email="true"
      #email="ngModel"
      required
    />

    <!-- Password -->
    <input
      type="password"
      class="form-control"
      id="password"
      placeholder="Password"
      [(ngModel)]="model.password"
      name="password"
      minlength="8"
      #password="ngModel"
      required
      aria-describedby="defaultRegisterFormPasswordHelpBlock"
    />
    <small
      id="defaultRegisterFormPasswordHelpBlock"
      class="form-text text-muted mb-4"
    >
      At least 8 characters and 1 digit
    </small>

    <!-- Password Confirm -->
    <input
      type="password"
      class="form-control"
      id="passwordConfirm"
      placeholder="Repeat password"
      [(ngModel)]="model.passwordConfirm"
      name="passwordConfirm"
      minlength="8"
      #passwordConfirm="ngModel"
      pattern="{{ password.value }}"
      required
    />

    <!-- Sign up button -->
    <button
      class="btn btn-info my-4 btn-block"
      type="submit"
      (click)="onRegister()"
    >
      Sign up
    </button>

    <hr />
    <!-- Terms of service -->
    <p>
      By clicking <em>Sign up</em> you agree to our
      <a href="" target="_blank">terms of service</a>
    </p>
  </form>

  <!-- Default form register -->
</div>
